config DR_CUIO
	depends on DR_E3PLUS
	tristate "Dynamic Ratings' CUIO"
	default y
	help
	  This is the kernel-side driver for the DR E3Plus IO modules

config DR_FTDI_ISA
	depends on DR_E3PLUS
	tristate "FTDI 2232H in USB-to-ISA Mode"
	default y
	help
	  This driver puts the FTDI 2232H into the ISA-bus-host mode

config DR_XTM_SERIAL
	depends on DR_E3PLUS
	tristate "Support for serial modules via the FTDI-ISA bus"
	default y
	help
	  This driver supports the 8250/16550A-style ports on the
	  other side of the ISA bus controlled by the FTDI_ISA driver
