// SPDX-License-Identifier: GPL-2.0+
//
// Copyright 2013 Freescale Semiconductor, Inc.

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/iio/adc/fsl-imx25-gcq.h>
#include <dt-bindings/leds/common.h>
#include "imx25.dtsi"

/ {
	model = "Dynamic Ratings E3Plus";
	compatible = "fsl,imx25-dr-e3plus", "fsl,imx25";

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x4000000>;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_fec_3v3: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "fec-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			status = "enabled";
		};

		reg_usb_host: regulator@1 {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_usb_pwr_en>;
			reg = <1>;

			compatible = "regulator-fixed";
			regulator-name = "usb-host-power";
			/* FIXME: enable the top port later */
			gpio = <&gpio3 16 GPIO_ACTIVE_LOW>;
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
		};
	};

};

&esdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_esdhc1>;
	cd-gpios = <&gpio3 18 GPIO_ACTIVE_LOW>;		/* GPIO 18 */
	wp-gpios = <&gpio3 17 GPIO_ACTIVE_HIGH>;	/* GPIO 17 */
	status = "okay";
};

&fec {
	phy-mode = "mii";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec>;
	phy-handle = <&ethernet>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethernet: ethernet-phy@2 {
			reg = <2>;
		};

		fiber: ethernet-phy@1 {
			reg = <1>;
		};
	};

};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	ds3231: rtc@68 {
		compatible = "maxim,ds3231";
		reg = <0x68>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_rtc>;
		interrupt-parent = <&gpio1>;
		interrupts = <11 IRQ_TYPE_LEVEL_LOW>;
	};
};

&iomuxc {
	imx26-dr-e3plus	{

		pinctrl_esdhc1: esdhc1grp {
			fsl,pins = <
				MX25_PAD_SD1_CMD__ESDHC1_CMD		0x80000000
				MX25_PAD_SD1_CLK__ESDHC1_CLK		0x80000000
				MX25_PAD_SD1_DATA0__ESDHC1_DAT0		0x80000000
				MX25_PAD_SD1_DATA1__ESDHC1_DAT1		0x80000000
				MX25_PAD_SD1_DATA2__ESDHC1_DAT2		0x80000000
				MX25_PAD_SD1_DATA3__ESDHC1_DAT3		0x80000000
				MX25_PAD_VSTBY_REQ__GPIO_3_17		0x80000000
				MX25_PAD_VSTBY_ACK__GPIO_3_18		0x80000000
			>;
		};

		pinctrl_fec: fecgrp {
			fsl,pins = <
				MX25_PAD_A23__FEC_TDATA3		0x80000000
				MX25_PAD_A22__FEC_TDATA2		0x80000000
				MX25_PAD_FEC_TDATA1__FEC_TDATA1		0x80000000
				MX25_PAD_FEC_TDATA0__FEC_TDATA0		0x80000000

				MX25_PAD_FEC_TX_CLK__FEC_TX_CLK		0x1c0
				MX25_PAD_FEC_TX_EN__FEC_TX_EN		0x80000000
				MX25_PAD_A17__FEC_TX_ERR		0x80000000

				MX25_PAD_A21__FEC_RDATA3		0x80000000
				MX25_PAD_A20__FEC_RDATA2		0x80000000
				MX25_PAD_FEC_RDATA1__FEC_RDATA1		0x80000000
				MX25_PAD_FEC_RDATA0__FEC_RDATA0		0x80000000

				MX25_PAD_A24__FEC_RX_CLK		0x1c0
				MX25_PAD_FEC_RX_DV__FEC_RX_DV		0x80000000

				MX25_PAD_A18__FEC_COL			0x80000000
				MX25_PAD_A25__FEC_CRS			0x80000000

				MX25_PAD_FEC_MDC__FEC_MDC		0x00000040
				MX25_PAD_FEC_MDIO__FEC_MDIO		0x00000001	/* disable PKE and HYS */

				MX25_PAD_A19__FEC_RX_ERR		0x80000000

				/* Needed? */
				MX25_PAD_KPP_ROW2__GPIO_2_31		0x80000000
			>;
		};

		pinctrl_i2c1: i2c1grp {
			fsl,pins = <
				MX25_PAD_I2C1_CLK__I2C1_CLK		0x80000000
				MX25_PAD_I2C1_DAT__I2C1_DAT		0x80000000
			>;
		};

		pinctrl_kpp: kppgrp {
			fsl,pins = <
				MX25_PAD_KPP_ROW0__KPP_ROW0	0x80000000
				MX25_PAD_KPP_ROW1__KPP_ROW1	0x80000000
				MX25_PAD_KPP_ROW2__KPP_ROW2	0x80000000
				MX25_PAD_KPP_ROW3__KPP_ROW3	0x80000000
				MX25_PAD_KPP_COL0__KPP_COL0	0x80000000
				MX25_PAD_KPP_COL1__KPP_COL1	0x80000000
				MX25_PAD_KPP_COL2__KPP_COL2	0x80000000
				MX25_PAD_KPP_COL3__KPP_COL3	0x80000000
			>;
		};

		pinctrl_lcd: lcdgrp {
			fsl,pins = <
				MX25_PAD_LD0__LD0		0xe0
				MX25_PAD_LD1__LD1		0xe0
				MX25_PAD_LD2__LD2		0xe0
				MX25_PAD_LD3__LD3		0xe0
				MX25_PAD_LD4__LD4		0xe0
				MX25_PAD_LD5__LD5		0xe0
				MX25_PAD_LD6__LD6		0xe0
				MX25_PAD_LD7__LD7		0xe0
				MX25_PAD_LD8__LD8		0xe0
				MX25_PAD_LD9__LD9		0xe0
				MX25_PAD_LD10__LD10		0xe0
				MX25_PAD_LD11__LD11		0xe0
				MX25_PAD_LD12__LD12		0xe0
				MX25_PAD_LD13__LD13		0xe0
				MX25_PAD_LD14__LD14		0xe0
				MX25_PAD_LD15__LD15		0xe0
				MX25_PAD_GPIO_E__LD16		0xe0
				MX25_PAD_GPIO_F__LD17		0xe0
				MX25_PAD_HSYNC__HSYNC		0xe0
				MX25_PAD_VSYNC__VSYNC		0xe0
				MX25_PAD_LSCLK__LSCLK		0xe0
				MX25_PAD_OE_ACD__OE_ACD		0xe0
				MX25_PAD_CONTRAST__CONTRAST	0xe0
			>;
		};

		pinctrl_uart1: uart1grp {
			fsl,pins = <
				MX25_PAD_UART1_RTS__UART1_RTS		0xe0
				MX25_PAD_UART1_CTS__UART1_CTS		0xe0
				MX25_PAD_UART1_TXD__UART1_TXD		0x80000000
				MX25_PAD_UART1_RXD__UART1_RXD		0xc0
			>;
		};

		pinctrl_watchdog: wdoggrp {
			fsl,pins = <
				MX25_PAD_CSI_VSYNC__GPIO_1_9		0x80000000
			>;
		};

		pinctrl_rtc: rtcgrp {
			fsl,pins = <
				MX25_PAD_CSI_PIXCLK__GPIO_1_11		0x80000000
			>;
		};

		pinctrl_usb_pwr_en: usbpwrgrp {
			fsl,pins = <
				MX25_PAD_UPLL_BYPCLK__GPIO_3_16		0x80000000
				MX25_PAD_CSI_D9__GPIO_4_21		0x80000000
			>;
		};

		pinctrl_leds: ledgrp {
			fsl,pins = <
				MX25_PAD_KPP_COL0__GPIO_3_1		0x80000000	/* Green */
				MX25_PAD_ECB__GPIO_3_23			0x80000000	/* Red */
				MX25_PAD_LBA__GPIO_3_24			0x80000000	/* Yellow */
				MX25_PAD_PWM__GPIO_1_26			0x80000000	/* LED7 CPU OK */
			>;
		};

		pinctrl_spi1: spi1grp {
			fsl,pins = <
				MX25_PAD_CSPI1_SS1__GPIO_1_17		0x80000000
				MX25_PAD_CSPI1_SCLK__CSPI1_SCLK		0x80000000
				MX25_PAD_CSPI1_MOSI__CSPI1_MOSI		0x80000000
				MX25_PAD_CSPI1_MISO__CSPI1_MISO		0x80000000
			>;
		};
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	uart-has-rtscts;
	status = "okay";
};

&usbhost1 {
	phy_type = "serial";
	dr_mode = "host";
	status = "okay";
	vbus-supply = <&reg_usb_host>;
	maximum-speed = "high-speed";
};

&usbotg {
	external-vbus-divider;
	status = "okay";
	maximum-speed = "high-speed";
};


&tscadc {
	status = "okay";
};

&adc {
	status = "okay";

	sense5v: inaux@5 {
			reg = <5>;
			fsl,adc-refp = <MX25_ADC_REFP_INT>;
			fsl,adc-refn = <MX25_ADC_REFN_NGND>;
		};

	sensebat: inaux@6 {
			reg = <6>;
			fsl,adc-refp = <MX25_ADC_REFP_INT>;
			fsl,adc-refn = <MX25_ADC_REFN_NGND>;
		};

	sense12v: inaux@7 {
			reg = <7>;
			fsl,adc-refp = <MX25_ADC_REFP_INT>;
			fsl,adc-refn = <MX25_ADC_REFN_NGND>;
		};
};

&spi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1>;
	cs-gpios = <&gpio1 17 GPIO_ACTIVE_LOW>;

	eeprom: AT25DF081@0 {
		compatible = "atmel,at25";
		reg = <0>;
		spi-max-frequency = <5000000>;
		spi-cpha;
		spi-cpol;

		pagesize = <64>;
		size = <1048576>;
		address-width = <16>;
	};
};

/ {
	e3-watchdog {
		compatible = "linux,wdt-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_watchdog>;
		gpio = <&gpio1 9 GPIO_ACTIVE_HIGH>;
		hw_algo = "toggle";
		hw_margin_ms = <1000>;
		always-running;
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_leds>;

		red-led {
			function = LED_FUNCTION_PANIC;
			color = <LED_COLOR_ID_RED>;
			linux,default-trigger = "panic";
			gpio = <&gpio3 23 GPIO_ACTIVE_LOW>;
		};

		green-led {
			function = LED_FUNCTION_HEARTBEAT;
			linux,default-trigger = "heartbeat";
			gpio = <&gpio1 26 GPIO_ACTIVE_LOW>;
			color = <LED_COLOR_ID_GREEN>;
		};

		yellow-led {
			function = LED_FUNCTION_DISK_ACTIVITY;
			linux,default-trigger = "mmc0";
			color = <LED_COLOR_ID_YELLOW>;
			gpio = <&gpio3 24 GPIO_ACTIVE_LOW>;
		};
	};
};
