// SPDX-License-Identifier: GPL-2.0+
//
// Copyright 2013 Freescale Semiconductor, Inc.

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/iio/adc/fsl-imx25-gcq.h>
#include <dt-bindings/leds/common.h>
#include "imx25.dtsi"

/ {
	model = "Dynamic Ratings E3Plus";
	compatible = "fsl,imx25-dr-e3plus", "fsl,imx25";

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x4000000>;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_fec_3v3: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "fec-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			status = "enabled";
		};

		reg_usb_host: regulator@1 {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_usb_pwr_en>;
			reg = <1>;

			compatible = "regulator-fixed";
			regulator-name = "usb-host-power";
			/* FIXME: enable the top port later */
			gpio = <&gpio3 16 GPIO_ACTIVE_LOW>;
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
		};
	};

};

&esdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_esdhc1>;
	cd-gpios = <&gpio3 18 GPIO_ACTIVE_LOW>;		/* GPIO 18 */
	wp-gpios = <&gpio3 17 GPIO_ACTIVE_HIGH>;	/* GPIO 17 */
	status = "okay";
};

&fec {
	phy-mode = "mii";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec>;
	status = "okay";

	fixed-link {
		speed = <100>;
		full-duplex;
	};
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	ds3231: rtc@68 {
		compatible = "maxim,ds3231";
		reg = <0x68>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_rtc>;
		interrupt-parent = <&gpio1>;
		interrupts = <11 IRQ_TYPE_LEVEL_LOW>;
	};
};

&iomuxc {
	imx26-dr-e3plus	{

		pinctrl_esdhc1: esdhc1grp {
			fsl,pins = <
				MX25_PAD_SD1_CMD__ESDHC1_CMD		0x80000000
				MX25_PAD_SD1_CLK__ESDHC1_CLK		0x80000000
				MX25_PAD_SD1_DATA0__ESDHC1_DAT0		0x80000000
				MX25_PAD_SD1_DATA1__ESDHC1_DAT1		0x80000000
				MX25_PAD_SD1_DATA2__ESDHC1_DAT2		0x80000000
				MX25_PAD_SD1_DATA3__ESDHC1_DAT3		0x80000000
				MX25_PAD_VSTBY_REQ__GPIO_3_17		0x80000000
				MX25_PAD_VSTBY_ACK__GPIO_3_18		0x80000000
			>;
		};

		pinctrl_fec: fecgrp {
			fsl,pins = <
				MX25_PAD_A23__FEC_TDATA3		0x80000000
				MX25_PAD_A22__FEC_TDATA2		0x80000000
				MX25_PAD_FEC_TDATA1__FEC_TDATA1		0x80000000
				MX25_PAD_FEC_TDATA0__FEC_TDATA0		0x80000000

				MX25_PAD_FEC_TX_CLK__FEC_TX_CLK		0x1c0
				MX25_PAD_FEC_TX_EN__FEC_TX_EN		0x80000000
				MX25_PAD_A17__FEC_TX_ERR		0x80000000

				MX25_PAD_A21__FEC_RDATA3		0x80000000
				MX25_PAD_A20__FEC_RDATA2		0x80000000
				MX25_PAD_FEC_RDATA1__FEC_RDATA1		0x80000000
				MX25_PAD_FEC_RDATA0__FEC_RDATA0		0x80000000

				MX25_PAD_A24__FEC_RX_CLK		0x1c0
				MX25_PAD_FEC_RX_DV__FEC_RX_DV		0x80000000

				MX25_PAD_A18__FEC_COL			0x80000000
				MX25_PAD_A25__FEC_CRS			0x80000000

				MX25_PAD_FEC_MDC__FEC_MDC		0x00000040
				MX25_PAD_FEC_MDIO__FEC_MDIO		0x00000001	/* disable PKE and HYS */

				MX25_PAD_A19__FEC_RX_ERR		0x80000000

				/* Needed? */
				MX25_PAD_KPP_ROW2__GPIO_2_31		0x80000000
			>;
		};

		pinctrl_i2c1: i2c1grp {
			fsl,pins = <
				MX25_PAD_I2C1_CLK__I2C1_CLK		0x80000000
				MX25_PAD_I2C1_DAT__I2C1_DAT		0x80000000
			>;
		};

		pinctrl_kpp: kppgrp {
			fsl,pins = <
				MX25_PAD_KPP_ROW0__KPP_ROW0	0x80000000
				MX25_PAD_KPP_ROW1__KPP_ROW1	0x80000000
				MX25_PAD_KPP_ROW2__KPP_ROW2	0x80000000
				MX25_PAD_KPP_ROW3__KPP_ROW3	0x80000000
				MX25_PAD_KPP_COL0__KPP_COL0	0x80000000
				MX25_PAD_KPP_COL1__KPP_COL1	0x80000000
				MX25_PAD_KPP_COL2__KPP_COL2	0x80000000
				MX25_PAD_KPP_COL3__KPP_COL3	0x80000000
			>;
		};

		pinctrl_lcd: lcdgrp {
			fsl,pins = <
				MX25_PAD_LD0__LD0		0xe0
				MX25_PAD_LD1__LD1		0xe0
				MX25_PAD_LD2__LD2		0xe0
				MX25_PAD_LD3__LD3		0xe0
				MX25_PAD_HSYNC__HSYNC		0xe0
				MX25_PAD_VSYNC__VSYNC		0xe0
				MX25_PAD_LSCLK__LSCLK		0xe0
			>;
		};

		pinctrl_uart1: uart1grp {
			fsl,pins = <
				/* 0xE0 = 1110 0000 = PKE/PUE/100KUP */
				MX25_PAD_UART1_RTS__UART1_RTS		0xe0
				MX25_PAD_UART1_CTS__UART1_CTS		0xe0
				MX25_PAD_UART1_TXD__UART1_TXD		0x80000000
				/* 0xC0 = 1100 0000 = PKE/PUE/100KDN */
				MX25_PAD_UART1_RXD__UART1_RXD		0xc0
				MX25_PAD_KPP_ROW1__UART1_DSR		0xe0
				MX25_PAD_KPP_ROW0__UART1_DTR		0xe0
			>;
		};

		pinctrl_uart2: uart2grp {
			fsl,pins = <
				MX25_PAD_UART2_TXD__UART2_TXD		0x80000000
				MX25_PAD_UART2_RXD__UART2_RXD		0xc0
			>;
		};

		pinctrl_watchdog: wdoggrp {
			fsl,pins = <
				MX25_PAD_CSI_VSYNC__GPIO_1_9		0x80000000
			>;
		};

		pinctrl_rtc: rtcgrp {
			fsl,pins = <
				MX25_PAD_CSI_PIXCLK__GPIO_1_11		0x80000000
			>;
		};

		pinctrl_usb_pwr_en: usbpwrgrp {
			fsl,pins = <
				MX25_PAD_UPLL_BYPCLK__GPIO_3_16		0x80000000
				MX25_PAD_CSI_D9__GPIO_4_21		0x80000000
				MX25_PAD_GPIO_A__USBOTG_PWR		0x80000000
				MX25_PAD_GPIO_B__USBOTG_OC		0x80000000
			>;
		};

		pinctrl_leds: ledgrp {
			fsl,pins = <
				MX25_PAD_KPP_COL0__GPIO_3_1		0x80000000	/* Green */
				MX25_PAD_ECB__GPIO_3_23			0x80000000	/* Red */
				MX25_PAD_LBA__GPIO_3_24			0x80000000	/* Yellow */
				MX25_PAD_PWM__GPIO_1_26			0x80000000	/* LED7 CPU OK */
			>;
		};

		pinctrl_spi1: spi1grp {
			fsl,pins = <
				MX25_PAD_CSPI1_SS1__GPIO_1_17		0x80000000
				MX25_PAD_CSPI1_SCLK__CSPI1_SCLK		0x80000000
				MX25_PAD_CSPI1_MOSI__CSPI1_MOSI		0x80000000
				MX25_PAD_CSPI1_MISO__CSPI1_MISO		0x80000000
			>;
		};

		pinctrl_cuio: cuiogrp {
			fsl,pins = <
				/* PAD_CTL_PUE                     (1 << 6)
				   PAD_CTL_PUS_100K_DOWN           (0 << 4) */
				MX25_PAD_DE_B__GPIO_2_20		0x80000040
			>;
		};

		pinctrl_isa_int: isaintgrp {
			fsl,pins = <
				MX25_PAD_CSI_D7__GPIO_1_6		0x80000000	/* ISA IRQ 9 */
				MX25_PAD_CSI_D6__GPIO_1_31		0x80000000	/* ISA IRQ 7 */
				MX25_PAD_CSI_D5__GPIO_1_30		0x80000000	/* ISA IRQ 6 */
				MX25_PAD_CSI_D4__GPIO_1_29		0x80000000	/* ISA IR5 5 */
				MX25_PAD_CSI_D3__GPIO_1_28		0x80000000	/* ISA IRQ 4 */
				MX25_PAD_CSI_D2__GPIO_1_27		0x80000000	/* ISA IRQ 3 */
			>;
		};

	};
};

/* Console UART */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	uart-has-rtscts;
	status = "okay";
};

/* Keypad and LEDs UART */
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&usbhost1 {
	phy_type = "serial";
	dr_mode = "host";
	vbus-supply = <&reg_usb_host>;
	over-current-active-high;
	status = "okay";
};

&usbotg {
	external-vbus-divider;
	phy_type = "utmi";
	dr_mode = "peripheral";
	over-current-active-low;
	status = "okay";
};

&usbmisc {
	status = "okay";
};

&tscadc {
	status = "okay";
};

&adc {
	status = "okay";

	sense5v: inaux@5 {
			reg = <5>;
			fsl,adc-refp = <MX25_ADC_REFP_INT>;
			fsl,adc-refn = <MX25_ADC_REFN_NGND>;
		};

	sensebat: inaux@6 {
			reg = <6>;
			fsl,adc-refp = <MX25_ADC_REFP_INT>;
			fsl,adc-refn = <MX25_ADC_REFN_NGND>;
		};

	sense12v: inaux@7 {
			reg = <7>;
			fsl,adc-refp = <MX25_ADC_REFP_INT>;
			fsl,adc-refn = <MX25_ADC_REFN_NGND>;
		};
};

&spi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1>;
	cs-gpios = <&gpio1 17 GPIO_ACTIVE_LOW>;

	eeprom: AT25DF081@0 {
		compatible = "atmel,at25";
		reg = <0>;
		spi-max-frequency = <5000000>;
		spi-cpha;
		spi-cpol;

		pagesize = <64>;
		size = <1048576>;
		address-width = <16>;
	};
};

&lcdc {
	status = "okay";
	display = <&e3lcd>;
};

&sdma {
	fsl,sdma-ram-script-name = "sdma-imx25.bin";
};

/ {
	e3-watchdog {
		compatible = "linux,wdt-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_watchdog>;
		gpio = <&gpio1 9 GPIO_ACTIVE_HIGH>;
		hw_algo = "toggle";
		hw_margin_ms = <1000>;
		always-running;
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_leds>;

		red-led {
			function = LED_FUNCTION_PANIC;
			color = <LED_COLOR_ID_RED>;
			linux,default-trigger = "panic";
			gpio = <&gpio3 23 GPIO_ACTIVE_LOW>;
		};

		green-led {
			function = LED_FUNCTION_HEARTBEAT;
			linux,default-trigger = "heartbeat";
			gpio = <&gpio1 26 GPIO_ACTIVE_LOW>;
			color = <LED_COLOR_ID_GREEN>;
		};

		yellow-led {
			function = LED_FUNCTION_DISK_ACTIVITY;
			linux,default-trigger = "mmc0";
			color = <LED_COLOR_ID_YELLOW>;
			gpio = <&gpio3 24 GPIO_ACTIVE_LOW>;
		};
	};

	e3lcd: display {
		model = "E3PLUS-DISPLAY";
		native-mode = <&e3plus_lcd_timings>;
		bits-per-pixel = <4>;
		cmap-forcemono;

		/* PERCLK3 (66.5MHz) / 11 = 6045454Hz / 4 (bus bits) = 1.511MHz PCK */
		/* resultant freq should go into "clock-frequency" node below */
		/* cp-clock-divider = <11>; */

		/* TFT(31) = 0 COLOR(30) = 0 PBSIZ(29/28) = 10(4bpp) BPIX(27/25) = 010(4bpp) PIXPOL(24) = 0(AH)
		   FLMPOL(23) = 0(AH) LPPOL(22) = 0(AH) CLKPOL(21) = 0(NEGEDGE) OEPOL(20) = 0(AH) SCLKIDLE(19) = 0
		   END_SEL(18) = 0(LE) SWAP_SEL(17) = 1(1BPP) REV_VS(16) = 0(NORMAL) ACDSEL(15) = 0(FRM)
		   ACD(14/8) = 0(FIXME?) SCLKSEL(7) = 0(NO) SHARP(6) = 0 PCD(5/0) = 0(set by driver)

		   3        2       2         1          1       1      0        0
		   1        7       3         9          5       1      7        3
		   0-0-10 | 010-0 | 0-0-0-0 | 0-0-1-0 || 0-000 | 0000 | 0-0-00 | 0000 */

		/* 0x53FBC018 */
		fsl,pcr = <0x24020000>;

		display-timings {
			e3plus_lcd_timings: 320x240 {
				hactive = <320>;
				vactive = <240>;
				hfront-porch = <5>;	/* "right margin" */
				hback-porch = <5>;	/* "left margin" */
				vfront-porch = <1>;	/* "lower margin" */ /* ignored for Mono STN mode */
				vback-porch = <1>;	/* "upper margin" */ /* ignored for Mono STN mode */
				hsync-len = <3>;
				vsync-len = <1>;
				clock-frequency = <6045454>;
				hsync-active = <1>;
				vsync-active = <1>;
				pixelclk-active = <1>;

			};
		};
	};

	cuio {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_cuio>;
		compatible = "dynamicratings,cuio";
		isa-reset-gpios = <&gpio2 20 GPIO_ACTIVE_HIGH>;
		isa-reset-msec = <100>;
	};

	of_serial {
		#address-cells = <1>;
		#size-cells = <0>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_isa_int>;
		compatible = "ns16550", "ns16550a";
		clock-frequency = <1843200>; /* FIXME! */
		interrupt-parent = <&gpio1>;

		serial0@0x2000 {
			reg = <0x2000 0x20>;
			interrupts = <6 GPIO_ACTIVE_HIGH>;
		};

		serial1@0x2020 {
			reg = <0x2020 0x20>;
			interrupts = <31 GPIO_ACTIVE_HIGH>;
		};

			/*
			<30 GPIO_ACTIVE_HIGH>,
			<29 GPIO_ACTIVE_HIGH>,
			<28 GPIO_ACTIVE_HIGH>,
			<27 GPIO_ACTIVE_HIGH>;
			*/
	};
};
